#filter {
  width: 100%;
}
.inside {
  padding: 20px;
}
.inside i {
  float: right;
  position: absolute;
  right: 10px;
  top: 10%;
}
.container {
  width: 100%;
  flex-direction: row;
}
h1 {
  margin-bottom: 125px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}
select {
  width: 100%;
  font-weight: 500;
  padding: 3px 0px 3px 10px;
  margin-bottom: 0;
  border: 0;
  background: transparent;
  font-size: 22px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}
select:hover {
  cursor: pointer;
  background: #216699;
  color: white;
  transition: 0.2s ease-in-out;
}
select:focus {
  outline: none;
}
.title {
  font-weight: 500;
  font-size: 14px;
  color: white;
}
input {
  margin-left: 10px;
}
input:focus {
  outline: none;
}
input[type="text"] {
  margin-bottom: 20px;
  border-radius: 5px;
}
input[placeholder] {
  font-style: italic;
}
.filter-title {
  display: inline;
  font-size: 22px;
  font-weight: 300;
  margin-right: 10px;
}
.filter-extras {
  float: right;
}
